Package: com.yellowcat98.wifimodule
Name: WiFiModule
Depends: com.opa334.ccsupport
Version: 1.0.1
Architecture: iphoneos-arm64
Description: Bringing the WiFi module to iOS 18.0-18.0.1.
Maintainer: YellowCat98
Author: YellowCat98
Section: Control Center (Modules)
